
header {
  background-color: #b6c5d4;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
}
.f{
color: #2f4f6f;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  gap: 8px;
  
}
input::placeholder{
  color:black;
  font-size: small;
}
.search-bar{
  width: 600px;   
  height: 20px; 
  padding: 5px 10px;
  font-size: 16px;
   background-color: rgba(217, 217, 217, 0.37);
   border: none;
color: black;
}
.voice, .camera, .mag-glass{
height: 30px;
gap: 0px,;
padding: 0px 0px;
margin: 0px;
background-color: rgba(217, 217, 217, 0.37);
border: none;
}
.login{
        background-color: rgba(137, 191, 239, 1);
        border: none;
        border-radius: 0px;
    }

